.navbar{
    width: auto;
    background-color: #aa66cc;
}


.contain-flex{
    background-color: rgb(240, 191, 191);
}

.logos img{
    height: 300px;
    width: 420px;
    margin: 5px;
    border-radius: 7%;
}

.colorFooter{
    background-color: #aa66cc;
}

/*.Crianza img{
    
}*/

.Crianza img{
    margin: 5px;
    width: 40%;
}

.guias{
    background-color: #F2DC5D; 
}

.imagenContacto{
    height: 150px;
    width: 210px;
}

.imagenQuienes{
    height: 175px;
    width: 300px;
    border-radius: 20%;
}

.quienes{
    background-image: url(../imagenes/fondo.png);
}

.quienes h1{
    margin: 15px;
    margin: 0;
}

.quienes p{
    color: rgb(0, 0, 0);
    font-weight: 500;
    margin: 15px;
}

.letraGuias{
    font-family: 'Lato', sans-serif;
    color: #551a80;
}

.letraGuias h3{
    font-weight: 1000;
}