$color-principal: #aa66cc;
$color-secundario: rgb(240, 191, 191);
$color-logos: #d7aadd;
$color-guias: #F2DC5D;
$color-letra-guias: #551a80;
$color-caja: #e9e4cf;
$color-botones: #007bff;

.navbar{
    width: auto;
    background-color: $color-principal;
}

.contain-flex{
    background-color: $color-secundario;
}

.logos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $color-logos;

        img{
        width: 100%;
        height: 300px;
        margin: 10px;
        padding: 5px;
        border-radius: 5%;
        }
}

.colorFooter{
    background-color: $color-principal;
}

.Crianza img{
    margin: 5px;
    width: 40%;
}

.guias{
    background-color: $color-guias;

    .letraGuias{
        font-family: 'Lato', sans-serif;
        color: $color-letra-guias;

        }
}

/************************************/

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.caja{
    width: 400px;
    height: 400px;
    background-color: $color-caja;
    margin: 10px;
}

.quienes{
    img{
    width: 100%;
    width: 100%;
}

}

/************************/
.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
}