 
    /*
a{
    text-decoration: none;
    color: aliceblue;
}

.icono{
    display: flex;
}

.icono img{
    height: 70px;
    margin-right: 10px;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: orange;

}

.principal{
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    background-color: antiquewhite;
    font-weight: 550;
}

.logos img{
    margin-left: 25px;
    height: 360px;
    margin: 5px;
}

.alimentacion img{
    height: 360px;
    margin: 5px;
}

.otrosDatos img{
    height: 360px;
    margin: 5px;
}

*/

.navbar{
    width: auto;
    background-color: #aa66cc;
}


.carousel-inner{
    height: 800px;
    max-height: 50rem;
}

.contain-flex{
    background-color: rgb(240, 191, 191);
}

.logos img{
    height: 360px;
    width: 500px;
    margin: 5px;
    border-radius: 7%;
}

.colorFooter{
    background-color: #aa66cc;
}

.Crianza img{
    height: 360px;
    margin: 5px;
}
.Crianza{
    font-weight: 500;
}

.guias{
    background-image: url(../imagenes/fondo.png);  
}